.hidemenu {
	margin-top: -100%;
	width: 100%;
	height: 59px;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}

.hidemenu ul {
	background-color: #fff;
}

.hidemenu ul li a {
	color: #333;

}

.inner-banner {
	width: 100%;
	height: 150px;
	background-color: #333; 
}

.link1 {
	top: 30px;
	left: 40px;
	position: absolute;
	z-index: 2;
}

.link-img1 {
	width: 200px;
	height: 100px;
}

.link2 {
	top: 30px;
	right: 60px;
	position: absolute;
	z-index: 2;
}

.link-img2 {
	width: 400px;
	height: 100px;
}

.menubar {
	height: 59px;	
	overflow: hidden;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 55px;
    padding-right: 55px;
    overflow: hidden;
    background-color: #2D2A2A;
    letter-spacing: .5px;
    font-weight: normal;
    -webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

li {
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 6px;
}

li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    -webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

li a:hover {
    color: #fefefe;
    text-decoration: none;
}

li a.left:hover{
	border-bottom: 3px solid #148DA5;
}

li a.right {
	background-color: #148DA5;
	border-radius: 4px;
	margin-left: 4px;
}

li a.right:hover {
	background-color: #105284;
}

.forspan {
	width: 240px;
	height: 30px;
	border-radius: 3px;
	letter-spacing: 1px;
}

.span1, .span11 {
	display: inline-block;
	width: 69px;
	height: 30px;
	background-color: #4CAF50;
	text-align: center;
	color: #fff;
	padding-top: 2.5px;
	float: left;
	margin-left: -80px;
	border-radius: 3px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.span2, .span22 {
	display: inline-block;
	width: 11px;
	height: 30px;
	background-color: #bbb5b5;	
	border-radius: 3px;
	float: left;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


.span3, .span33 {
	display: inline-block;
	width: 69px;
	height: 30px;
	color: #fff;
	text-align: center;
	background-color: #1379C7;
	padding-top: 2.5px;
	border-radius: 3px;
	padding-right: 4px;
	float: left;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.span1:hover {
	cursor: pointer;
	background-color: #257F0A;
}

.span2:hover {
	cursor: pointer;
	background-color: #D9D4D4;
}

.span3:hover {
	cursor: pointer;
	background-color: #105284;
}

.span11:hover {
	cursor: pointer;
	background-color: #257F0A;
}

.span22:hover {
	cursor: pointer;
	background-color: #D9D4D4;
}

.span33:hover {
	cursor: pointer;
	background-color: #105284;
}

.divCheck { 
	font-weight: bold; 
	margin-left: 90px; 
	margin-top: 100px; 
	margin-bottom: -84px;
}

.title1 {
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-radius: 10px 10px 1px 1px;
	border: 1px solid #E3DCDC;
	background-color: #E3DCDC;
}

.title2 {
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-radius: 10px 10px 1px 1px;
	border: 1px solid #E3DCDC;
	background-color: #E3DCDC;
}

.titlehide {
	display: none;
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-radius: 10px 10px 1px 1px;
	border: 1px solid #E3DCDC;
	background-color: #E3DCDC;
}

.content1 {
	margin-top: 0;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 1px 1px 10px 10px;
	border: 1px solid #E3DCDC;
}

.content2 {
	margin-top: 0;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 1px 1px 10px 10px;
	border: 1px solid #E3DCDC;
}

.contenthide {
	display: none; 
	margin-top: 0;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 1px 1px 10px 10px;
	border: 1px solid #E3DCDC;
}

.input {
	border-radius: 4px;
	border-bottom: 1px solid #9b9b9b;
	font-size: 14px;
	height: 30px;
	width: 30%;
}

.my1, .my2,.my3 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.remove1,.remove2,
.remove3 {
	display: none;
	float: right;
	font-size: 14px;
    width: 84px;
	height: 40px;
	margin-right: 292px;
	border:1px solid #B9B0B0;
	margin-top: -6px;
	padding-top: 7px;
	padding-left: 7px;
	cursor: pointer;
}

.remove1:hover,
.remove2:hover,
.remove3:hover {
	background-color: #BFBEBE;
	/*color:#9A9292;*/
}

.lab1, .lab2 {
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #1379C7;
	cursor: pointer;
    display: block;
    text-align: center;
    padding-top: 8px;
    float: right;
    margin-right: 142px;
    margin-top: -40px;
    border-radius: 0 4px 4px 0;
}

.lab1:hover,.lab2:hover {
	cursor: pointer;
	background-color: #105284;
}

.fileinput1, .fileinput2,
.fileinput3 {
	display: block;
	margin-left: 130px;
	width: 667px;
	height: 40px;
	margin-top: -38px;
	margin-left: 210px;
	border-radius: 4px 0 0 4px;
	border:1px solid #B9B0B0;
	padding-top: 7px;
	padding-left: 7px;
}

.input:checked {
	border-bottom: 2px solid blue;	
}

.button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 30px;
	cursor: pointer;
}

.button[disabled] {
	cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

.button:hover {
	background-color: #257F0A;
}

.bottom-content {
	margin-top: 25px;
	margin-right: 100px;
	margin-left: 100px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.radio {
	font-size: 14px;
}

.buttonblue {
	background-color: #1379C7; /*blue*/
	border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.buttonblue:hover {
	background-color: #105284;
	cursor: pointer;
}

.footer {
	text-align: center;
	margin-top: 100px;	
	background-color: #333;
	width: 100%;
	min-height: 500px; 
}

.link-fas {
	color: #fefefe;
	font-size: 30px;	
	background-color: #1379C7;
	text-align: center;	
	position: absolute;
	margin-top: -35px; 
	margin-left: -420px;
	border-radius: 100%;
	width: 55.5px;
    height: 55.5px;
}

.fa-angle-up {
	margin-top: 12px;
}

.fa-angle-up:hover {
	color: #105284;
	cursor: pointer;
}

.inst {
	margin-top: 70px;
	padding: 9px;
}

.logo {
	width: 400px;
	height: 100px;
}

.link-foot {
	color: #1379C7;
}

.link-foot:hover {
	color: #fff;
	text-decoration: none;
}

.footer p {
	width: 700px;
	display: inline-block;
    color: #eee;
    font-size: 12px;
    border-top: 1px solid #696b6eb8;
    margin-top: 11px;
    padding-top: 11px;
    letter-spacing: 0.5px;
    line-height: 2;
}

.bottom {
	text-align: center;
	background-color: #2D2A2A;
	width: 100%;
	height: 45px;
	padding-top: 10px;
}

.span a {
	text-decoration: none;
	outline: none;
	color: #fff;
	margin: 20px;
	font-size: 18px;
	margin-top: 30px;
}

.span a:hover {
	color: #1379C7;
}

#nameMark1,#nameMark2,
#nameMark3,#nameMark4,
#nameMark5,#nameMark6,
#nameMark7,#nameMark8,
#nameMark9,#nameMark10,
#nameMark11,#nameMark12,
#nameMark13,#nameMark14,
#nameMark15,#nameMark16,
#nameMark17,#nameMark18,
#nameMark19 {
	color: #fff;
	font-size: 15px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox1 {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

@media screen and (max-width: 1024px) {
	.input {
		font-size: 14px;
		height: 30px;
		/*width: 220px;*/
	}
	.link-fas {
		margin-left: -290px;
	}
}

@media screen and (max-width: 1141px) {
	.input {
		/*width: 210px;*/
	}
}

@media screen and (max-width: 375px) {
	.inner-banner {
	    width: 100%;
	    height: 204px;
	}
	.link1 {
	    top: 6px;
	    left: 12px;
	}
	.link2 {
	    top: 112px;
    	right: -8px;
	}
	.link-img2 {
	    width: 321px;
	    height: 82px;
	}
	.menubar {
    	height: 167px;
	}
	li {
	    float: left;
	    padding-top: 0px;
	    padding-bottom: 3px;
	    padding-left: 0;
	    padding-right: 0px;
	    margin-left: 0px;
	}
	.divCheck {
		margin-left: 55px;
    	margin-top: 50px;
	}
}